* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑", "arial", " sans-serif";
	font-size: 12px;
	z-index: 2;
}

.clear {
	clear: both;
}

img {
	border: 0px;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

#wrap {
	width: 1002px;
	height: 1280px;
	margin: 20px auto 0;
	overflow: hidden;
}

#wrap_left {

	width: 750px;
	height: 1300px;
	float: left;
	/*position: relative;*/

}

#wrap_left ul:nth-child(1) li,
#wrap_left ul:nth-child(2) li,
#wrap_left ul:nth-child(3) li{
	border-bottom: dashed 1px #DCDCDC;
	height:152px;
	padding-top: 20px;
	position: relative;
}

.left_btn{
	position: absolute;
	background: #5BAC99;
	padding: 5px 10px 5px 20px;
	margin-left: 10px;
	border: none;
	font-size: 14px;
	color: snow;
}
.left_h1{
	position: absolute;
	left: 324px;
	top: 20px;
	font-size: 18px;
	font-weight: 100;	
}
.left_time{
	position: absolute;
	left: 230px;
	top: 60px;
	color: #999;
	font-size: 14px;
	padding: 8px 0 0 0;
}
.left_p{
	position: absolute;
	left: 230px;
	top: 87px;
	width: 500px;
	height: 66px;
	font-size: 14px;
	color: #575757;
	text-indent: 2em;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding: 20px 0 0 0;
	
}
#left_page{
	font-size: 16px;
	float: right;
	margin: 20px 30px ;
}
#left_page a:hover{
	color: F47A11;
}




#wrap_right {
	/*border: 1px rgb(220,220,220) solid;*/
	width: 246px;
	height: 1500px;
	float: right;
	
}

#right_up{
	border: 1px rgb(220,220,220) solid;
}

#right_up p:nth-child(1){
	color: #575757;
	font-weight: 600;
	font-size: 18px;
	margin: 20px 18px 20px 10px;
	padding-bottom: 10px;
	border-bottom: 1px rgb(220,220,220) solid;
	
}
#right_a ul li{
	font-size: 16px;
	color: rgba(27, 10, 204, 1.0);
	padding: 0 0 0 20px;
	cursor:hand;
}
#right_a ul li:hover{
	text-decoration:underline;
}
#showMore{
	margin: 20px 0 20px 66px;
}
.slider{
	margin: 20px auto;
}

.slider-main li img{
	width: 221px;
	height: 132px;
}

#right_down{
	border: 1px solid rgb(220,220,220);
	margin-top: 20px;
}
#right_down p:nth-child(1){
	color: #575757;
	font-weight: 600;
	font-size: 18px;
	margin: 20px 18px 20px 10px;
	padding-bottom: 10px;
	border-bottom: 1px rgb(220,220,220) solid;
	
}






