* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑", "arial", " sans-serif";
	font-size: 12px;
	z-index: 2;
}

body {
	background: rgb(238, 241, 247);
}

.clear {
	clear: both;
}

img {
	border: 0px;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}


/*头部*/

#head {
	min-width: 1310px;
	height: 163px;
}

.head_height {
	height: 46px;
}


/*标题*/

#head_title {
	width: 1002px;
	min-width: 1002px;
	height: 110px;
	margin: 0 auto;
	background: rgb(255, 255, 255);
	position: relative;
	/*background: rgb(195,195,195);*/
}

#title_img {
	position: absolute;
	left: 10px;
	top: 10px;
}

#title_p {
	position: absolute;
	left: 250px;
	top: 60px;
	font-size: 20px;
}

#title_weather {
	position: absolute;
	left: 600px;
	top: 30px;
}
/*导航栏*/
#nav{
	border:  1px solid blue;
	height: 46px;
	width: 1002px;
	margin: 0 auto;
	background: #769900;
}
#nav>ul{
	margin-left: 50px;
}
#nav>ul li{
	display: inline;
	height: 46px;
	line-height: 46px;
	
}
#nav>ul li a{
	font-size: 16px;
	color: snow;
	margin:0 0 0 20px ;
}
#nav>ul li:nth-child(7){
	margin-left: 150px;

}
#search{
	width: 300px;
	height: 30px;	
	margin-right: -6px;
}
#nav>ul li:nth-child(8){
	margin: 5px 0 0 0;
	width: 60px;
	height: 44px;

}
#nav>ul li:nth-child(8) button{
	background-image:url(Img/search.png);
	width: 60px;
	height: 28px;
	border: none;
	color: transparent;
}



/*wrap部分*/
#wrap{
	width: 1002px;
	height:900px;
	border: 1px solid red;
	margin: 0 auto;

	
}
#scroll{
	width: 1002px;
	height: 36px;
	border: 1px black solid;
	margin: 8px auto 0;
}



/*foot部分*/
#foot {
	width:100%;
	/*min-width:1002px;*/
	margin: 0 auto;
	height: 102px;
	line-height: 30px;
	background: rgb(0, 117, 59);
	/*background:#65c0bb;*/
	position: relative;
}

.foot,
.foot a {
	width: 476px;
	margin: 0 auto;
	text-align: center;
	color: #BBBBBB;
}